.link {
    font-size: 16px;
}
.choose {
    display: flex;
    align-items: center;
    background-color: #ffdc60;
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0px 7px 0px rgba(41, 40, 40, 0.3);
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.2s linear;

    &:hover {
        background-color: #ffd21f;
    }

    &:active {
        transform: scale(0.97);
    }

    &-img {
        width: 40px;
        margin-right: 10px;
    }
}
.input {
    display: none;
}
.upload {
    background-color: #ffd21f;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0px 7px 0px rgba(41, 40, 40, 0.3);
    cursor: pointer;
    width: 250px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    height: 40px;

    &:hover {
        background-color: #ffd21f;
    }

    &:active {
        transform: scale(0.97);
    }

    &:disabled {
        background-color: #f8e7a5;
        transform: none;
        cursor: default;
        opacity: .4;
    }
}
.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    border-radius: 10px;
}
.info {

}
.images {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image {
    width: 100%;
}
